html,
body {
    width: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
    background-color: #555;
}

.navbar-inner {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
}

.navbar {
    margin-bottom: 5px;
}

.register-account,
.login-account {
    text-align: center;
    margin-top: 5px;
}

.login,
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 30%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    padding: 30px;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.175);
}

.block-project {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.title-content-tab {
    margin-top: 15px;
    font-size: 23px;
}

.card .card-header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
}

.md-toolbar-tools{
    background-color: white;
}
/*.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; 
}*/

.CodeMirror { 
    border: 1px solid #eee;
    height: 100%;
    border-bottom: none;
}

#particles {
    width: 100%;
    height: calc(100% - 64px);
    overflow: hidden;
    background: #000;
    position: absolute;
    z-index: 1;
}

#intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    color: #fff;
}

#intro h1::after {
    content: '';
    width: 100px;
    display: block;
    background: #fff;
    height: 5px;
    margin: 20px auto;
    line-height: 1.1;
}

p.real-time {
    margin: 0 0 30px 0;
    font-size: 30px;
}

ul#dropdown.dropdown-content li>a {
    color: black;
}

img:hover {
    border: 1px solid #e7e7e7;
    cursor: pointer;
    transition: all .5s;
}

img {
    border: 1px solid #FFFFFF;
    transition: all .5s;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

#cursor:after {
    content: " ";
    display: inline-block;
    position: relative;
    height: 60px;
    top: 8px;
    margin-left: 3px;
    margin-right: 7px;
    width: 6px;
    background: #fff;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}

#intro h1 {
    font-size: 70px;
}

[ng-click]:hover {
    cursor: pointer;
}

md-content.md-default-theme {
    background-color: #eee;
}

md-sidenav.md-sidenav-list {
    z-index: 1;
}

@media (max-width: 620px) {
    md-sidenav.md-sidenav-list {
        max-width: 100%;
        width: 100%;
    }
}

md-sidenav.md-sidenav-list md-list {
    border-right: 1px solid #d5d5d5;
}

md-sidenav>md-toolbar.md-tall {
    padding: 15px;
    height: auto;
    max-height: 150px;
}

md-sidenav md-divider {
    margin-top: 4px;
    margin-bottom: 4px;
}

md-sidenav.md-sidenav-list md-list-item.md-2-line .md-list-item-text,
md-sidenav.md-sidenav-list md-list-item.md-2-line>.md-no-style .md-list-item-text {
    margin-bottom: 10px;
}

md-sidenav.md-navigation-drawer md-list-item.md-2-line .md-list-item-text,
md-sidenav.md-navigation-drawer md-list-item.md-2-line>.md-no-style .md-list-item-text {
    padding-top: 6px;
    /* padding-bottom: 6px; */
}

md-sidenav.md-navigation-drawer,
md-sidenav.md-navigation-drawer.md-locked-open {
    width: 256px;
    min-width: 256px;
    max-width: 256px;
}

md-backdrop+md-sidenav.md-sidenav-list {
    z-index: 3;
}

md-sidenav:not(.md-sidenav-list) md-icon {
    fill: #737373;
    position: relative;
}

md-sidenav:not(.md-sidenav-list) .md-avatar {
    height: 64px;
    width: 64px;
}


/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */

md-list-item.md-3-line md-divider[md-inset] {
    left: 70px;
}

.md-avatar>svg {
    border-radius: 50%;
}


/* Hide backdrop for internal sidenav */

md-content md-backdrop {
    display: none;
}


/* Shrink inputs */

.edit-app md-input-container {
    padding-bottom: 0;
    line-height: 30px;
    font-size: 14px;
}

.edit-app md-input-container:first-of-type {
    margin-top: -16px;
}


/* fade animation */

.animate-show {
    transition: 0.75s ease-out all;
    opacity: 1;
}

.animate-show.ng-hide {
    height: 0;
    min-height: 0;
    opacity: 0;
    overflow: hidden;
}

@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 70px;
    }
    .card {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 48px;
    }
    h1::after {
        height: 5px;
    }
    #cursor:after {
        height: 50px;
        width: 5px;
        top: 8px;
    }
}

@media only screen and (max-width: 569px) {
    #intro {
        padding: 0 10px;
    }
    h1 {
        font-size: 30px;
    }
    h1::after {
        height: 3px;
    }
    #cursor:after {
        height: 35px;
        width: 3px;
        top: 8px;
    }
    p.real-time {
        font-size: 18px;
    }
    .btn-custom {
        font-size: 16px;
    }
    .card {
        width: 70%;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 27px;
    }
    h1::after {
        height: 1px;
    }
    .card {
        width: 80%;
    }
}

.sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.task {
    padding: 10px;
    border: 1px solid #eee;
}

.panel .panel-body {
    padding: 0;
}

button.btn {
    width: 100%;
    border-radius: 0 !important;
}


/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */

.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}


/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */

.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}


/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */

.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-top-right-radius: 4px;
    border-top-left-radius: 4px; */
    display: block;
    padding: 10px 15px;
    border-left: none;
    border-right: none;
    height: 80px;
    /* margin-bottom: -1px; */
}


/**
 * Show selected elements in green
 */

.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}